@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Montserrat&display=swap');

// fonts
$headerFont: 'Cinzel', serif;
$font: 'Montserrat', sans-serif;

// colors
// background (off-white)
$background: lighten(#dbd6ce, 15);
// nav bar (light blue)
$nav: lighten(#77aace, 10);
// manager dash, (tan)
$color1: lighten(#FFEBB3, 8);
// guest dashoard (gold)
$color2: #FFEBB3;
// guest book room(green)
$color3: #C4EBDB;
// manager search, (salmon)
$color4: lighten(#FFC6B3, 8);
// green background color
$green: lighten(#FFC6B3, 8);
// colors round 3

$inline: inline-block;
