@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Montserrat&display=swap');

$headerFont: 'Cinzel', serif;
$font: 'Montserrat', sans-serif; 


// colors
// $blue: #406C94;
$blue: #C5D9EA;
$purple: #A2A0D7;
$lightPurple: #CCCBEC;
$green: #94D4BC;
$lightGreen: #C4EBDB;


$inline: inline-block;