@import 'variables';
@import 'mixins';
@import '~js-datepicker/src/datepicker';

.login-screen {
  @include twoColGrid()
}

body {
  background: $background;
}

.manager-screen {
  @include twoColGrid();
  background: $background;
  margin: 8% auto;
  width: 90%;
}

main {
  background: $background;
  margin-top: 1%;
}
// login scren
.login-section {
  @include box-shadow();
  background-color: $color2;
  margin: 10% auto;
  width: 90%;
}

.hotel-image-section {
  @include box-shadow();
  margin: 10% auto;
}

.login-section input,
.login-section label {
  display: block;
  font-size: 4vh;
  margin: 3%;
}

.login-section button {
  font-size: 4vh;
  margin: 5% 0 5% 3%;
  width: 40%;
}

.sign-in-message {
  font-family: $font;
  font-size: 6vh;
  margin: 1% 0;
  padding: 1%;
}

.login-h1 {
  display: $inline;
  font-family: $headerFont;
  font-size: 6vh;
}
// navs and headers
header {
  background-color: $nav;
  margin: -1% 0 0 -1%;
  text-align: center;
  width: 103%;
}

.dash-h1 {
  @extend .login-h1;
  grid-column: 1 / 2;
  margin-left: 5%;
  text-align: left;
}

.user-dash-nav-section h1,
.user-dash-nav-section h2 {
  margin: 2%;
}

.manager-dash-nav-section h1,
.manager-dash-nav-section h2 {
  margin: 2% 5% 2% 3%;
}

.manager-dash-nav-section {
  button {
    margin-left: 25%;
  }
}
// universal hide class
.hide {
  display: none;
}
// manager screen
.manager-dashboard {
  @include box-shadow();
  background-color: $color1;
  margin: -10% auto;
  width: 85%;
}

h4,
p {
  display: $inline;
}

#select-different-date {
  text-align: center;
}

.manager-dashboard h2 {
  text-align: center;
}

.manager-select-date-section {
  margin: 5% auto;
  text-align: center;
  width: 70%;

  input {
    font-size: 2vh;
    padding: 2%;
  }

  button {
    font-size: 2vh;
    margin-left: 2%;
    padding: 2%;
  }
}

.avail-rooms-section {
  @include manager-dash();
  grid-column: 1 / 2;

  p {
    font-size: 4vh;
    font-weight: bold;
    margin-left: 5%;
  }
}

.revenue-section {
  @include manager-dash();
  grid-column: 1 / 2;

  p {
    font-size: 4vh;
    font-weight: bold;
    margin-left: 5%;
  }
}

.percent-occupied-section {
  @include manager-dash();
  grid-column: 1 / 2;

  p {
    font-size: 4vh;
    font-weight: bold;
    margin-left: 5%;
  }
}
// manager search area
.manager-search-section {
  @include box-shadow();
  background-color: $green;
  grid-column: 2 / 3;
  grid-row: 1;
  margin: -10% auto;
  width: 85%;

  input {
    font-size: 2vh;
    padding: 1%;
  }

  button {
    display: inline-block;
    font-size: 2vh;
    padding: 1%;
    width: 20%;
  }
}

.manager-search-section h3 {
  display: $inline;
  font-size: 4vh;
  margin-left: 2%;
}

.manager-room-listing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.manager-avail-room-listing {
  margin: 0 5% 5% 0;
  width: 120%;
}

.manager-avail-room-listing button,
.manager-avail-room-listing li {
  display: $inline;
}

.manager-room-listing-num {
  grid-column: 1 / 2;
  margin: 0 5%;
  width: 100%;
}

.manager-room-listing-type {
  grid-column: 2 / 3;
  margin: 0 5%;
  text-align: center;
  width: 100%;
}

.manager-room-listing-cost {
  grid-column: 3 / 4;
  margin: 0 5%;
  text-align: right;
  width: 100%;
}
// user search area
.search-button,
.user-search {
  display: $inline;
  margin-left: 2%;
  width: 30%;
}

.user-search-results {
  background-color: $background;
  height: 50vh;
  margin: 0 auto;
  overflow: scroll;
  width: 80%;
  button {
    align: center;
    width: 50%;
  }
  li {}
}

.user-search-results h4 {
  display: block;
}


.user-search-results button {
  display: $inline;
  margin: 1% 0 5% 3%;
}

// user screen
.user-nav-dash-section {
  display: $inline;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 20%;
}

.user-welcome-message {
  display: $inline;
  font-size: 5vh;
  grid-column: 2 / 3;
  margin: 5% 0 5% 2%;
}

.user-dash-buttons {
  display: inline-block;
  grid-column: 3 / 4;
}

.sort-section {
  margin-left: 5%;
  button {
    margin: 0 1%;
  }
}

.book-a-room-button {
  border: 1px solid black;
  display: inline-block;
  font-size: 2vh;
  font-weight: bold;
  margin: 1% 2% 0 0;
  padding: 1%;
}

.user-dashboard-button {
  @extend .book-a-room-button;
}

.sign-out-button {
  @extend .book-a-room-button;
}

.dashboard-button-text {
  visibility: hidden;
}

.dashboard-button-text:hover {
  visibility: visibile;
}

.user-dashboard {
  @include box-shadow() margin: 5%;
  background-color: $color2;
  border-radius: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.user-dash-heading {
  border-bottom: 1px solid black;
  font-size: 2em;
  margin: 5%;
  padding-bottom: 2%;
  width: 80%;
}

.user-bookings-past {
  @include user-dash() grid-column: 2 / 3;
  background-color: $background;
  border: 1px solid black;
  border-radius: 2%;
  grid-row: 2;
  height: 300px;
  overflow: scroll;

  p {
    margin: 3% 5% 3% 0;
  }
}

.user-bookings-upcoming {
  @extend .user-bookings-past;
  grid-column: 1 / 2;
  grid-row: 2;
  height: 300px;

  p {
    margin: 3% 5% 3% 0;
  }
}

.user-bookings-header {
  background-color: $background;
  border-bottom: 1px solid black;
  display: block;
  font-size: 3vh;
  padding: 3% 0;
  position: sticky;
  top: 0;
}

.user-total-spent {
  @include user-dash() grid-column: 3 / 4;
  background-color: $background;
  border: 1px solid black;
  border-radius: 2%;
  grid-row: 2;
}

.user-total-spent-header {
  @extend .user-bookings-header
}

.user-dashboard p {
  text-align: left;
}
// user book room screen
.user-book-section {
  @include box-shadow() border: 1px solid green;
  background-color: $color3;
  margin: 5%;
}

.user-book-heading-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.user-book-header {
  border-bottom: 1px solid;
  font-size: 5vh;
  margin: 3% 5%;
  text-align: left;
  width: 90%;
}

.user-book-date-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1% 0 0 5%;
  width: 90%;
}

.select-date-section {
  grid-column: 1 / 2;
  margin: 7%;
  width: 80%;

  input {
    font-size: 2vh;
    margin: 5% 0 0;
    width: 80%;
  }

  button {
    font-size: 2vh;
    margin: 5% 0 0;
    padding: 1%;
    width: 80%;
  }
}

.filter-rooms,
.user-date-select {
  font-size: 4vh;
}

.filter-rooms-section {
  @extend .select-date-section;
  grid-column: 2 / 3;
  width: 85%;

  select {
    font-size: 2vh;
    margin: 5% 0 0;
    width: 80%;
  }
}

.user-avail-rooms-display {
  list-style-type: none;
  margin: 2% 5%;
}

.cancel-booking-button,
.confirm-booking-button {
  font-size: 2vh;
  margin-top: 3%;
  width: 80%;
}

.user-total-spent-display {
  font-size: 3em;
}

.no-upcoming-message {
  margin: 10% 5% 0 0;
  text-align: center;
}

.user-book-form label {
  display: block;
  padding-bottom: 2%;
}

.user-book-form {
  margin-left: 5%;
  text-align: left;
}

.user-book-form button {
  display: block;
  margin: 2% 0 0;
}

.avail-room-listing input,
.avail-room-listing li {
  display: $inline;
}

.user-search-listing li {
  border-bottom: 1px solid black;
  list-style-type: none;
}

.user-search-name {
  font-weight: bold;
  margin-right: 5%;
}

.user-info-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 95%;

  button {
    width: 60%;
  }
}

.show-guest-details {
  width: 80%;
}

.upcoming-bookings {
  li {
    display: inline-block;
    list-style-type: square;
    margin: 3% 0 0 -10%;
    width: 100%;
  }

  p {
    margin: 2% 3%;
  }
}

.past-bookings p {
  margin: 2% 3%;
}

.delete-booking {
  display: inline-block;
  width: 100%;
}

.available-room-listing {
  @include box-shadow() width: 90%;
  background-color: $background;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 5%;
}

.listing-pic {
  grid-column: 1 /2;
}

.listing-overview {
  grid-column: 2 /3;
  margin: 0 10%;

  h4 {
    display: block;
  }
}

.listing-amenities {
  grid-column: 3 / 4;
}

.listing-book {
  grid-column: 4 /5;

  button {
    font-size: 3vh;
    margin-top: 50%;
    width: 90%;
  }
}

.booking-confirmation {
  h4 {
    display: block;
    margin: 3%;
  }
}

.thank-you-section {
  @include box-shadow() margin: 5%;
  background-color: $color2;
  padding: 1%;

  button {
    margin: 1%;
  }

  .list-date,
  .list-number {
    margin: 1% 5%;
    padding: 1% 5%;
  }

  .user-dashboard li {
    list-style-type: none;
  }
}

button,
input {
  cursor: pointer;
}
//  tablets and mobiles
@media screen and (max-width: 900px) {
  .login-screen {
    display: default;
    margin-top: 10%;
  }

  .login-section {
    @include box-shadow();
    background-color: $color2;
    grid-column: 1 / 3;
    margin: 0 auto;
    width: 90%;
  }

  .hotel-image-section {
    display: none;
  }

  .manager-dash-nav-section h1,
  .manager-dash-nav-section h2 {
    font-size: 120%;
    margin: 2% 5%;
  }

  .manager-screen {
    @include twoColGrid() background: $background;
    margin: 10% auto;
    width: 90%;
  }

  .manager-dashboard {
    background-color: $color2;
    grid-column: 1 / 3;
    margin: -5% 0 5%;
    width: 95%;
  }

  .manager-search-section {
    background-color: $green;
    grid-column: 1 / 3;
    grid-row: 2;
    margin: 0;
    width: 95%;
  }

  .available-room-listing {
    @include box-shadow() width: 90%;
    background-color: $background;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 5%;

    img {
      display: none;
    }
  }
}
