@import 'variables';
@import 'mixins';


.login-section {
  border: 1px solid green;
  background-color: #fff;
}
h1 {
  font-family: $headerFont;
}
h3 {
  font-family: $font;
}

body {
  background-image: url('../images/grandbudapest.jpg');
}


.hide {
  display: none;
}

.manager-dash {
  background: #fff;
  width: 80%;
  margin: 5% auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}

.avail-rooms-section {
  @include manager-dash();
  border: 1px solid blue;
  grid-column: 1 / 2;
}

.revenue-section {
  @include manager-dash();
  border: 1px solid green;
  grid-column: 2 / 3;
}

.percent-occupied-section {
  @include manager-dash();
  border: 1px solid orange;
  grid-column: 3 / 4;
}

.user-dash {
  @extend .manager-dash;
  grid-template-columns: 1fr 1fr;

}

.user-bookings {
  @include user-dash()
  border: 1px solid green;
}

.user-total-spent {
  @include user-dash()
  border: 1px solid orange;
}

.user-book-section {
  @extend .manager-dash;
}

.user-avail-rooms-display {
  list-style-type: none;
}
